solutions/ContosoCoffee/Workflows/Newmachineapprovalrequest-84F83DBC-E51F-ED11-B83E-000D3A4F8E2A.json
{
  "properties": {
    "connectionReferences": {
      "shared_approvals": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "contoso_sharedapprovals_18f78"
        },
        "api": {
          "name": "shared_approvals"
        }
      },
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "contoso_sharedcommondataserviceforapps_77918"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_office365": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "contoso_sharedoffice365_0516c"
        },
        "api": {
          "name": "shared_office365"
        }
      },
      "shared_teams": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "contoso_sharedteams_7f5e8"
        },
        "api": {
          "name": "shared_teams"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "metadata": {
            "operationMetadataId": "f51d6005-24d0-4688-829b-9bdb2505787f"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 1,
              "subscriptionRequest/entityname": "contoso_machineorder",
              "subscriptionRequest/scope": 4
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Start_and_wait_for_an_approval": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "db253b34-b6e3-4d30-a906-7bcc9d7eebae"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_approvals",
              "operationId": "StartAndWaitForAnApproval",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_approvals"
            },
            "parameters": {
              "approvalType": "Basic",
              "WebhookApprovalCreationInput/title": "New machine request for @{triggerOutputs()?['body/contoso_machinename']}",
              "WebhookApprovalCreationInput/assignedTo": "@{triggerOutputs()?['body/contoso_approver']};",
              "WebhookApprovalCreationInput/details": "A new machine has been requested \n@{triggerOutputs()?['body/contoso_machinename']}, $@{triggerOutputs()?['body/contoso_price']}\nDepartment Contribution: $@{triggerOutputs()?['body/contoso_departmentcontribution']}\nComments: @{triggerOutputs()?['body/contoso_comments']}",
              "WebhookApprovalCreationInput/requestor": "@{triggerOutputs()?['body/contoso_requestedby']};",
              "WebhookApprovalCreationInput/enableNotifications": true,
              "WebhookApprovalCreationInput/enableReassignment": true
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Condition": {
          "actions": {
            "Update_a_row": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "24b9d567-1f05-4330-9e1e-4c9cccb2c2fb"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "UpdateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "contoso_machineorders",
                  "recordId": "@triggerOutputs()?['body/contoso_machineorderid']",
                  "item/contoso_approvalstatus": 330650000,
                  "item/contoso_approveddate": "@utcNow()"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Send_an_email_(V2)": {
              "runAfter": {
                "Update_a_row": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "7d895c4d-bbcd-4a36-8ce3-e9a5c7a6991a"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_office365",
                  "operationId": "SendEmailV2",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                },
                "parameters": {
                  "emailMessage/To": "@triggerOutputs()?['body/contoso_requestedby']",
                  "emailMessage/Subject": "Your machine order has been approved!",
                  "emailMessage/Body": "Your machine has been approved <b>@{outputs('Update_a_row')?['body/contoso_machinename']}</b></br>\nEstimated ship date: @{outputs('Update_a_row')?['body/contoso_estimatedshipdate']}</br>\n@{outputs('Start_and_wait_for_an_approval')?['body/responseSummary']}\n",
                  "emailMessage/Importance": "Normal"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Post_message_in_a_chat_or_channel": {
              "runAfter": {
                "Send_an_email_(V2)": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "28608b50-7580-49c1-8df4-751219e65d4f"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_teams",
                  "operationId": "PostMessageToConversation",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_teams"
                },
                "parameters": {
                  "poster": "Flow bot",
                  "location": "Chat with Flow bot",
                  "body/recipient": "@{triggerOutputs()?['body/contoso_requestedby']};",
                  "body/messageBody": "<p>Your machine has been approved @{triggerOutputs()?['body/contoso_machinename']}<br>\nEstimated Ship Date: @{triggerOutputs()?['body/contoso_estimatedshipdate']}</p>"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Start_and_wait_for_an_approval": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Update_a_row_2": {
                "runAfter": {},
                "metadata": {
                  "operationMetadataId": "f240d805-78d6-440e-aec1-b2b13917190e"
                },
                "type": "OpenApiConnection",
                "inputs": {
                  "host": {
                    "connectionName": "shared_commondataserviceforapps",
                    "operationId": "UpdateRecord",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                  },
                  "parameters": {
                    "entityName": "contoso_machineorders",
                    "recordId": "@triggerOutputs()?['body/contoso_machineorderid']",
                    "item/contoso_approvalstatus": 330650001
                  },
                  "authentication": "@parameters('$authentication')"
                }
              },
              "Send_an_email_(V2)_2": {
                "runAfter": {
                  "Update_a_row_2": [
                    "Succeeded"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "3ae243e7-4f4a-41c6-b2e9-9b27211472df"
                },
                "type": "OpenApiConnection",
                "inputs": {
                  "host": {
                    "connectionName": "shared_office365",
                    "operationId": "SendEmailV2",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                  },
                  "parameters": {
                    "emailMessage/To": "@triggerOutputs()?['body/contoso_requestedby']",
                    "emailMessage/Subject": "Your machine was not approved ",
                    "emailMessage/Body": "<p>Sorry, your request for @{triggerOutputs()?['body/contoso_machinename']} was NOT APPROVED.<br>\n@{outputs('Start_and_wait_for_an_approval')?['body/responseSummary']}</p>",
                    "emailMessage/Importance": "Normal"
                  },
                  "authentication": "@parameters('$authentication')"
                }
              },
              "Post_message_in_a_chat_or_channel_2": {
                "runAfter": {
                  "Send_an_email_(V2)_2": [
                    "Succeeded"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "6ad8e2ed-e810-44e3-bb8e-1addeb84eafb"
                },
                "type": "OpenApiConnection",
                "inputs": {
                  "host": {
                    "connectionName": "shared_teams",
                    "operationId": "PostMessageToConversation",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_teams"
                  },
                  "parameters": {
                    "poster": "Flow bot",
                    "location": "Chat with Flow bot",
                    "body/recipient": "@{triggerOutputs()?['body/contoso_requestedby']};",
                    "body/messageBody": "<p>Your machine request for @{triggerOutputs()?['body/contoso_machinename']} was not approved</p>"
                  },
                  "authentication": "@parameters('$authentication')"
                }
              }
            }
          },
          "expression": {
            "equals": [
              "@outputs('Start_and_wait_for_an_approval')?['body/outcome']",
              "Approve"
            ]
          },
          "metadata": {
            "operationMetadataId": "49317a24-12e9-47d2-b744-14fead1b8a27"
          },
          "type": "If"
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}